<html>
  <head>
    <title>{{ title }} - The best meme generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="bar">Memexter: <a class="aLink" href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>


</html>
