{% extends "base.html" %}

{% block content %}
  <form class="cont" action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>

    <p>
    {% for subfield in form.field %}
    <div class="ImgPick">
       {{ subfield }}
       {% set class = 'img' + subfield.data %}
       {{ subfield.label }}
       <br>
       <img class="{{ class }}" src="{{ url_for('static', filename='images/{}.jpg'.format(subfield.data))}}"></img>
    </div>
    {% endfor %}
    </p>


    <div class="lables">
    {{ form.textU.label}}<br>
    {{ form.textU }}<br>
    {{ form.useD.label }}
    {{ form.useD }}<br>
    {{ form.textD.label }}<br>
    {{ form.textD }}<br>
    {{ form.fontSize.label }}<br>
    {{ form.fontSize }}<br>
    <p id="output"></p>
    <p> {{ form.submit() }}</p>
    </div>
  </form>

  <script>
    $(document).ready(function() {
      $('#useD').prop('checked', true);

      $('#useD').change(function() {
        if($(this).is(":checked")) {
          $('#textD').prop("disabled", false);
        } else {
          $('#textD').prop("disabled", true);
        }
      });
    });
  </script>
  <style>
    @font-face {
      font-family: myFont;
    src: url({{ url_for('static', filename='fonts/Roboto-Regular.ttf') }});
    }
    input {
      font-size: 24px;
    }
    .lables {

      font-family: myFont;
      font-size: 24px;
    }
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#field-0 {
  width: 20px;
  font-size: 24px;
  height: 20px;
}
#field-1 {
  font-size: 24px;
  width: 20px;
  height: 20px;
}
#useD {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 15px;
    height: 15px;
  }
input[type=submit]:hover {
  background-color: #45a049;
}

    .cont {
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%,0);
    }
    .img1 {
      width: 200px;
      height: 200px;
    }
    .img2 {
      width: 200px;
      height: 200px;
    }
    .ImgPick{
      display: inline-block;
      width: fit-content;
      height: fit-content;
      font-size: 24px;
      font-family: myFont;
    }
    .lables{
      width: fit-content;
      margin: 0px auto;
      height: fit-content;
    }
    </style>

{% endblock %}
